<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!--CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--JS-->
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>Sistema de Livraria</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SistemaLivraria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Página Inicial <span class="sr-only">(página atual)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Livros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Livro/Cadastro">Cadastrar Livros</a>
                        <a class="dropdown-item" href="/Livro/Consulta">Consultar Livros</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Autores
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Autor/Cadastro">Cadastrar Autor</a>
                        <a class="dropdown-item" href="/Autor/Consulta">Consultar Autor</a>
                    </div>
                </li>
            </ul>      
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid p-xl-5">
            <h1 class="display-4">Sistema de Controle de Livros</h1>
            <p class="lead">Este é um sistema exemplo de controle de livraria. Desenvolvido por Paulo Roberto.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>


</body>
</html>
